In [1]:
# Data frame is a main object in pandas used to represent data with rows & columns.

# Creating data frame 

import pandas as pd

df=pd.read_csv("Weather.csv")

df

                    Day  Temperature  Windspeed   Event
0   05/01/2021 00:00:00          433        919    Rain
1   05/01/2021 23:53:20          360        491    Snow
2   05/03/2021 00:03:20          489        302     Fog
3   05/03/2021 23:56:40          560        839  Cloudy
4   05/05/2021 00:06:40          218        303   Sunny
5   05/06/2021 00:00:00          188        619    Rain
6   05/06/2021 23:53:20          594        192    Snow
7   05/08/2021 00:03:20          800        757     Fog
8   05/08/2021 23:56:40          554        391  Cloudy
9   05/10/2021 00:06:40          770        283   Sunny
10  05/11/2021 00:00:00          376        361    Snow
11  05/11/2021 23:53:20          501         35   Sunny
12  05/13/2021 00:03:20          980        902     Fog
13  05/13/2021 23:56:40          765        787  Cloudy
14  05/15/2021 00:06:40          727        907    Rain

In [2]:
# Get dimensions of table, "shape is an attribute of data frame object"

df.shape       # returns total no. of rows & columns in tuple form

(15, 4)

In [3]:
# head() : it display first few rows of table, by default first 5 rows

df.head()

                   Day  Temperature  Windspeed   Event
0  05/01/2021 00:00:00          433        919    Rain
1  05/01/2021 23:53:20          360        491    Snow
2  05/03/2021 00:03:20          489        302     Fog
3  05/03/2021 23:56:40          560        839  Cloudy
4  05/05/2021 00:06:40          218        303   Sunny

In [4]:
# tail() : it display last few rows of table, by default last 5 rows

df.tail()

                    Day  Temperature  Windspeed   Event
10  05/11/2021 00:00:00          376        361    Snow
11  05/11/2021 23:53:20          501         35   Sunny
12  05/13/2021 00:03:20          980        902     Fog
13  05/13/2021 23:56:40          765        787  Cloudy
14  05/15/2021 00:06:40          727        907    Rain

In [8]:
# Slicing : perform slicing on data frame

df[5:10]

                   Day  Temperature  Windspeed   Event
5  05/06/2021 00:00:00          188        619    Rain
6  05/06/2021 23:53:20          594        192    Snow
7  05/08/2021 00:03:20          800        757     Fog
8  05/08/2021 23:56:40          554        391  Cloudy
9  05/10/2021 00:06:40          770        283   Sunny

In [7]:
# extract specific rows specific column using slicing

df.iloc[2:5,1:3]

   Temperature  Windspeed
2          489        302
3          560        839
4          218        303

In [11]:
# print columns name of table with data type

df.columns    # "columns" is an attribute of data frame object

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [14]:
# print specific column data

df.Event     # or you can use "df['Event']""

0       Rain
1       Snow
2        Fog
3     Cloudy
4      Sunny
5       Rain
6       Snow
7        Fog
8     Cloudy
9      Sunny
10      Snow
11     Sunny
12       Fog
13    Cloudy
14      Rain
Name: Event, dtype: object

In [17]:
# if want to get 2 or more columns data at same time use 

df[['Day','Event']]    # pass column name in list within list, the inner [] specifies a list and the outer[] specifies the syntax to display the data in columns

                    Day   Event
0   05/01/2021 00:00:00    Rain
1   05/01/2021 23:53:20    Snow
2   05/03/2021 00:03:20     Fog
3   05/03/2021 23:56:40  Cloudy
4   05/05/2021 00:06:40   Sunny
5   05/06/2021 00:00:00    Rain
6   05/06/2021 23:53:20    Snow
7   05/08/2021 00:03:20     Fog
8   05/08/2021 23:56:40  Cloudy
9   05/10/2021 00:06:40   Sunny
10  05/11/2021 00:00:00    Snow
11  05/11/2021 23:53:20   Sunny
12  05/13/2021 00:03:20     Fog
13  05/13/2021 23:56:40  Cloudy
14  05/15/2021 00:06:40    Rain

In [18]:
# print maximum temperature

df['Temperature'].max()         # max() used with column name

980

In [19]:
# print minimum temperature

df['Temperature'].min()        # min() used with column name

188

In [20]:
# describe() used to calculate statistical parameters

df['Temperature'].describe()     # describe() used with column name

count     15.000000
mean     554.333333
std      224.018388
min      188.000000
25%      404.500000
50%      554.000000
75%      746.000000
max      980.000000
Name: Temperature, dtype: float64

In [22]:
# Row with maximum temperature

df[df.Temperature==df.Temperature.max()]

                   Day  Temperature  Windspeed Event
5  05/06/2021 00:00:00          188        619  Rain

In [23]:
# Row with minimum temperature

df[df.Temperature==df.Temperature.min()]

# Here "df" is used for whole row, "df.temperature" is used to show row which has maximum temp, "df.temperature.min()" used to calculate max temp.

                   Day  Temperature  Windspeed Event
5  05/06/2021 00:00:00          188        619  Rain

In [2]:
# select only day column which has maximum temp

df.Day[df.Temperature==df.Temperature.max()]

12    05/13/2021 00:03:20
Name: Day, dtype: object